.nav {
  background: #24252a;

  position: fixed;
  top: 0;

  height: 64px;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    font-weight: 800;

    transition: all 0.25s ease-out;

    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }
}
