@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$black: #000000;
$green: #00ff00;

.password {
  background: black;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    cursor: default;
  }

  &__center {
    color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      margin: 25px 0;
    }

    &__controls {
      display: flex;
      justify-content: center;
      margin: 10px;

      &__input {
        width: 20px;
        height: 20px;
        border: 3px solid $green;
        transition: all 0.25s ease-out;
        margin: 0 10px;
        cursor: pointer;

        &.ticked {
          background: $green;
        }
      }

      &__len {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        background: $green;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    button {
      height: 20px;
      padding: 0 10px;
      background: $green;
      color: $black;
      border: none;
      font-family: 'Press Start 2P', cursive;
      cursor: pointer;
    }
  }
}
